[Unit]
Description=OceanHelper service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/ubuntu/ocean/start.sh
ExecStop=/bin/bash /home/ubuntu/ocean/stop.sh
Restart=always
RestartSec=5
TimeoutSec=60
RuntimeMaxSec=infinity
PIDFile=/tmp/ocean.pid

[Install]
WantedBy=multi-user.target